.about-container {
	height: 80vh;
	background-image: url("graphics/Bannerpattern.png");
	color: #fff;
}

.person-image{
	text-align: center;
	width: 150px;
	height: 150px;
}

.person-text{
	text-align: center;
}

.person-box{
	text-align: center;
}