.about-container {
	background-image: url("graphics/Bannerpattern.png");
	color: #fff;
	padding-top: 5vh;
	padding-bottom: 10vh;
}

.person-image{
	text-align: center;
	width: 150px;
	height: 150px;
}

.person-text{
	text-align: center;
}

.person-box{
	text-align: center;
}