.navbar {
	margin-bottom: 0px;
	border-bottom: 1px solid green;
	background-color: #fff;
}

.navbar-brand {
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-nav .nav{
	font-size: 13px;
	color: #000;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #fff;
}

.navbar-toggle {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
	border: 1px solid #eee;
	height: 100%;
}

.navbar-nav > li > a {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
	background-color: #fff;
}

.navbar-nav > li > a:hover {
	color: green;
	background-color: #fff;
	text-decoration: underline;
}