.projects-container {
	background-color: #fff;
	padding-top: 5vh;
	padding-bottom: 10vh;
}

.product-header {
	text-align: center;
	font-size: 24px;
	font-family: 'Open Sans', Verdana, sans-serif;
}

.product-text {
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', Verdana, sans-serif;
}