<div class="row banner">
	<div class="container banner-box">
		<div class="row">
			<h1 class="banner-title col-sm-offset-2 col-sm-8">DUMMY BANNER!</h1>
		</div>
		<div class="row">
			<h2 class="banner-subtitle col-sm-offset-4 col-sm-4">Subtitle!</h2>
		</div>
		<div class="row">
			<button class="btn banner-button col-sm-offset-4 col-sm-4">CLICK ME!</button>
		</div>
	</div>
</div>
<div class="row content"><h1>Products!</h1></div>
<div class="container">
	<div class="row call-to-arms-banner">
		<h2 class="call-to-arms-text col-sm-8">DUMMY CALL - TO - ARMS!</h2>
		<button class="btn call-to-arms col-sm-4">CLICK ME!</button>
	</div>
</div>
<div class="row content"><h1>Projects!</h1></div>
<div class="row content"><h1>About us!</h1></div>
<div class="row footer">

</div>