<div id="About us" class="container-fluid about-container">
	<div class="row">
		<h1 class="banner-title">Om oss</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-2 col-md-offset-2">
			<div class="row">
				<div class="person-box">
					<div class="row">
						<img class="person-image" src="static/graphics/tonjesvepstad.png">
					</div>
					<div class="row">
						<h2 class="person-name">Tonje Svepstad</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="person-box">
					<div class="row">
						<img class="person-image" src="static/graphics/bjorndolvik.png">
					</div>
					<div class="row">
						<h2 class="person-name">Bjørn Dølvik</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-2 col-md-offset-4">
			<p class="person-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu posuere felis. Pellentesque in mi ut mi ultricies dapibus nec non dui. Aliquam tincidunt risus facilisis nibh luctus feugiat. Nullam pulvinar sem accumsan nisi vulputate, non varius arcu imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac nunc a velit molestie tincidunt eu vitae diam. Fusce quis condimentum quam, id tincidunt risus. Nam vitae tortor quis tortor tincidunt imperdiet quis quis erat. Suspendisse egestas at nisl vehicula efficitur. Duis semper ipsum nunc, a vulputate risus pellentesque nec. Praesent pretium purus a rhoncus finibus. Vestibulum et nibh ac magna porta semper. Suspendisse vel lectus sit amet lorem viverra viverra at et sem. Aliquam vitae dolor ac tortor commodo bibendum sed porta mauris.
			</p>
		</div>
	</div>
</div>