<div id="Products" class="container-fluid product-container">
	<div class="row">
		<h1 class="banner-title">Våre Tjenester</h1>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-2">
			<div class="row">
				<img width="100%" src="static/graphics/Phone-Product.png">
			</div>
			<div class="row">
				<h2 class="product-header">Applikasjoner</h2>
				<p class="product-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta nisi quam, eget rutrum ipsum fringilla eget. Sed volutpat tempus interdum. Etiam nec est faucibus, iaculis ex eget, finibus erat.
				</p>
			</div>
		</div>
		<div class="col-sm-3 col-sm-offset-2">
			<div class="row">
				<img width="100%" src="static/graphics/Website-Product.png">
			</div>
			<div class="row">
				<h2 class="product-header">Webtjenester</h2>
				<p class="product-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta nisi quam, eget rutrum ipsum fringilla eget. Sed volutpat tempus interdum. Etiam nec est faucibus, iaculis ex eget, finibus erat.
				</p>
			</div>
		</div>
	</div>
</div>