<!DocTyPE html>
<html>
<head>
    <title>Rabbit Development</title>
    {% assets "portofolio-style" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-app="portofolio">
<div ui-view></div>
<!-- Js files -->
{% assets "portofolio-script" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>