<!DocTyPE html>
<html>
<head>
    <title>Rabbit Development</title>
    <link rel="shortcut icon" href="/static/graphics/favicon.ico">
    {% assets "portofolio-style" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-app="portofolio">
	<nav id="home" class="navbar" >
		<div class="container-fluid" in-view-container>
			<div class="navbar-header" in-view="$inview ? topButton = false : topButton = true">
				<button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			        <span class="sr-only">Toggle navigation</span>
			       	<i class="fa fa-2x fa-bars"></i>
		      	</button>
		      	<a class="navbar-brand" ui-sref="frontpage">
		      		<img src="static/graphics/Rabbit-logo.png" alt="Rabbit Development Logo" height="50px">
		      	</a>
			</div>
			<div collapse="navCollapsed" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a scroll-to="#home" duration="400">Hjem</a></li>
					<li><a scroll-to="#products" duration="400">Tjenester</a></li>
					<li><a scroll-to="#projects" duration="400">Prosjekter</a></li>
					<li><a scroll-to="#about" duration="400">Om oss</a></li>
					<li><a scroll-to="#contact" duration="400">Kontakt oss</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div ui-view="banner"></div>
	<div id="products" ui-view="products"></div>
	<div id="projects" ui-view="projects"></div>
	<div id="about" ui-view="about"></div>
	<div id="contact" ui-view="contact"></div>
	<div class="row footer">
	</div>
	<button scroll-to="#home" duration="400" class="top-button" ng-show="topButton">
		<i class="fa fa-2x fa-chevron-up"></i>
	</button>
	<!-- Js files -->
	{% assets "portofolio-script" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
</body>
</html>